#mapContainer .State {    
    -fx-stroke-width: 0.2; 
    -fx-stroke-linecap: round; 
    -fx-stroke-linejoin: round; 
    -fx-background-color: #FF0000; 
    -fx-border-color: #00FF00;

}

#mapContainer {
}