#mapContainer {
    -fx-border-color: #00FF00;
    -fx-background-color: #8ac0c6;
}

.State {    
    -fx-stroke-linecap: round; 
    -fx-stroke-linejoin: round; 
    -fx-stroke-width: 0.5; 
    -fx-fill: #4d6555; 
    -fx-stroke: #838383;
}

.State:hover {    
    -fx-fill: #2d4535; 
    -fx-stroke: #2d4535;
}

#playerMenu {
    -fx-background-color: #cae193;
    -fx-font-family:'Space Grotesk Light';
    -fx-font-weight: 200;
}


