.root {
    -transparent: #FFFFFF00;
    -seaBlue: #8ac0c6;
    -lightContinent: #4d6555;
    -darkContinent: #2d4535;
    -borderGray: #838383;
    -lightGray: #474747;
    -darkGray: #272727;
    -black: #171219;
    -white: #FFFFFF;
}

VBox {
    -fx-background-color: -white;
    -fx-align: center;
}

#botSlider .track {
    -fx-background-color: -darkGray;
}

#botSlider .axis{
    -fx-tick-label-fill: -white;
}

#botSlider .thumb {
    -fx-background-color: -borderGray;
}


* {
    -fx-text-fill: -white;
    -fx-font-family:'Josefin Sans Thin';
    -fx-font-weight: 400;
}

Button {
    -fx-background-color: -darkGray;
    -fx-text-fill: -white;
    -fx-background-radius: 0px;
    -fx-border-radius: 0px;
}

Button:hover {
    -fx-background-color: -lightGray;
}


AnchorPane {
    -fx-background-color: -black;
}